/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

p {
	font-family: 'Open Sans', sans-serif;
}

.container {
	margin: 0 70px;
	padding-top: 70px;
}

nav {
	position: fixed;
	width: 100%;
	
	padding: 0 70px;
	background-color: #fff;
	z-index: 150;
	transition: background-color 400ms linear;
}

#navbar.scrolled {
	background-color: rgb(204, 251, 255) !important;
	transition: background-color 400ms linear;
}

.nav-container {
	width: 100%;
	position: relative;
	height: 70px;
}

/* Vertically center the div with all the nav links */
.nav-links {
	position: absolute;
	width: 80%;

	top: 50%;
	transform: translateY(-50%);
}

.nav-links a {
	display: inline-block;
	width: 13%;

	text-decoration: none;
	color: #999;

	padding: 27px 0;
	text-align: center;
	
	transition: background-color 300ms;
}

.nav-links a:hover {
	background-color: #333;
	color: #fff;
}

/* Vertically center the div with the logo and shit it to the right */
.nav-img {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

/* Add hover effect */
.home-container header a:hover {
	background-color: #333;
	color: #fff;
}

header, footer {
	position: relative;
	padding: 4% 0;
}

header div {
	display: inline-block;
	width: 49%;
	text-align: center;
}

.header-text {
	transform: translateY(-40%);
}

.header-image {
    background-image: url(../img/header-img.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
}

header h1 {
	font-size: 60px;
}

header a {
	padding: 5px 40px;
    background-color: #fff;
	border: solid 1px #000;
	text-decoration: none;
	color: #000;

	transition: background-color 300ms;
}

.padding-right {
	padding-right: 2%;
}

.home-container section {
	display: inline-block;
	padding: 4% 0;
}

.two-columns-section {
	width: 49%;
}

.three-columns-section {
	width: 32%;
}

.middle-img {
	width: 100%;
	height: 250px;
	background-image: url(../img/mid-page-accent.jpg);
	background-repeat: no-repeat;
    background-size: cover;
}

#contact p {
	margin-bottom: 15px; 
}

footer p {
	text-align: center;
}

/* Clients page */
#clients div {
	display: inline-block;
}

.client {
	padding: 2% 0;
}
.client img {
	max-width: 200px;
}
.client-photo {
	width: 30%;
	text-align: right;
	padding-right: 40px;
}

.clients-container header {
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
	url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.clients-container header h1 {
	color:#fff;
	text-align: center;
}

.clients-container section {
	padding: 4% 0;
}

